#imgHero{
    width: 350px;
    height: 350px;
}

#escuelaIcono{
    height: 60px;
    width: 100px;
}

#equipoIcono{
    height: 60px;
    width: 100px;
}

#desarrolloIcono{
    height: 60px;
    width: 100px;
}